<!-- header -->

<div class="contain-to-grid topBar-container" id="topBar">
	<nav class="topBar">
		<div class="row">
			<div class="column">
				<div class="mainMenu">
					<ul class="inline-list">
						<li>
							<a href="../es/">
                {{#is lang "en"}} Spanish {{/is}}
                {{#is lang "fr"}} Espagnol {{/is}}
                {{#is lang "es"}} Español {{/is}}
              </a>
							<a href="../en/">
                {{#is lang "en"}} English {{/is}}
                {{#is lang "fr"}} Anglais {{/is}}
                {{#is lang "es"}} Inglés {{/is}}
							</a>
							<a href="../fr/">
                {{#is lang "en"}} French {{/is}}
                {{#is lang "fr"}} Français {{/is}}
                {{#is lang "es"}} Francés {{/is}}
							</a>
						</li>
					</ul>
				</div>
				<a href="index.html" class="logo"><img src="../img/oxytours.svg"></a>
			</div>
		</div>
	</nav>
</div>
<!-- /header -->
