<p>
  {{#is lang "en"}} (*) Check here for pickup locations included in the price. For other locations please contact us. {{/is}}
  {{#is lang "fr"}} (*) Cliquez ici pour des points de collecte des clients inclus dans le prix. Pour d'autres endroits s'il vous plaît contactez-nous. {{/is}}
  {{#is lang "es"}} (*) Consulte aquí las localidades de recogida incluidas en el precio. Para otras poblaciones pregúntenos. {{/is}}
</p>

<select name="" id="">

	<option value="">
    {{#is lang "en"}} List of locations {{/is}}
    {{#is lang "fr"}} Liste des villes {{/is}}
    {{#is lang "es"}} Listado de localidades {{/is}}
  </option>

	<option>Alcalà de la Jovada</option>
	<option>Alcoi</option>
	<option>Alfàs del Pi – Albir</option>
	<option>Alicante</option>
	<option>Altea</option>
	<option>Benidorm</option>
	<option>Benissa</option>
	<option>Benitachell</option>
	<option>Callosa d’En Sarrià</option>
	<option>Calp</option>
	<option>Campello</option>
	<option>Dénia</option>
	<option>Finestrat</option>
	<option>Gata de Gorgos</option>
	<option>La Nucia</option>
	<option>La Vila Joiosa</option>
	<option>Pego</option>
	<option>Polop</option>
	<option>San Juan</option>
	<option>Teulada – Moraira</option>
	<option>Vall d’Ebo</option>
	<option>Vall de la Gallinera</option>
	<option>Xàbia</option>
	<option>Xaló</option>
	<option>Xixona</option>

</select>
