<div class="large-5 column">
  <div class="box">
    <h3>
      {{#is lang "en"}} Details {{/is}}
      {{#is lang "fr"}} Programme {{/is}}
      {{#is lang "es"}} Hoja de ruta {{/is}}
    </h3>
    <ul class="route-schedule">
      {{#each Schedule}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="box">
    <h4 class="route-included-title">
      {{#is lang "en"}} Prices by number of people {{/is}}
      {{#is lang "fr"}} Prix {{/is}}
      {{#is lang "es"}} Precio por persona {{/is}}
    </h4>

    <ul>
      <li>{{PriceVariation}}</li>
    </ul>

  </div>

  <div class="box">
    <h4 class="route-included-title">
      {{#is lang "en"}} Price includes {{/is}}
      {{#is lang "fr"}} Le prix inclut {{/is}}
      {{#is lang "es"}} Incluído en el precio {{/is}}
    </h4>
    <ul>
      {{#each Included}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  </div>

  {{#if Notincluded}}
    <div class="box">
      <h4 class="route-included-title">
        {{#is lang "en"}} Price not includes {{/is}}
        {{#is lang "fr"}} Le prix no inclut {{/is}}
        {{#is lang "es"}} No incluído en el precio {{/is}}
      </h4>
      <ul>
        {{#each Notincluded}}
          <li>{{item}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

</div>
