<!-- header -->

<div class="contain-to-grid topBar-container" id="topBar">
	<nav class="topBar">
		<div class="row">
			<div class="column">
				<div class="mainMenu">
					<ul class="inline-list">
						<li>
							<a href="../es">Spanish</a> 
							<a href="../en">English</a> 
							<a href="../fr">French</a>
						</li>
					</ul>
				</div>
				<a href="index.html" class="logo"><img src="../img/oxytours.svg"></a>
			</div>
		</div>
	</nav>
</div>
<!-- /header -->