<!-- header -->
<div class="contain-to-grid topBar-container" id="topBar">
	<nav class="topBar">
		<div class="row">
			<div class="column">
				<a href="index.html" class="logo"><img src="../img/oxytours.svg"></a>
				<a href="index.html" class="logo--small"><img src="../img/oxytours_hoz.svg"></a>
				<div class="mainMenu">
					<ul class="inline-list">
						<li>
							<a href="roots.html">Raíces</a>
						</li>
						<li>
							<a href="wings.html">Alas</a>
						</li>
						<li>
							<a href="index.html#whoweare">Nosotros</a>
						</li>
						<li>
							<a href="http://www.oxytours.com/blog">Blog</a>
						</li>
						<li>
							<a href="../es"><img src="../img/flags/es.png" alt=""></a> 
							<a href="../en"><img src="../img/flags/gb.png" alt=""></a> 
							<a href="../fr"><img src="../img/flags/fr.png" alt=""></a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
<!-- /header -->