---
category: form
lang: en
title: Make a reservation
shortname: You are one step to live a unique experience

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg
---

<div class="content content--index">

	<div class="row">
		<div class="column large-5">

			<form action="http://www.oxytours.com/mail/mailto_en.php" method="post">
				<div class="row">
					<div class="column">
						<label for="">Name
							<input type="text" name="name" required>
						</label>
					</div>
					<div class="column">
						<label for="">Surname
							<input type="text" name="surname" required>
						</label>
					</div>
					<div class="column">
						<label for="">Email
							<input type="email" name="email" required>
						</label>
					</div>
					<div class="column">
						<label for="">Phone
							<input type="text" name="phone">
						</label>
					</div>
					<div class="column">
						<label for="">City
							<input type="text" name="city">
						</label>
					</div>
					<div class="column">
						<label for="">Country
							<input type="text" name="country">
						</label>
					</div>

					<div class="column">
						<label for="">Chosen route
							<select name="route">
								{{#each pages}}
									{{#is data.category 'route'}}
										<option value="{{data.title}}: {{data.shortname}}">{{data.title}}: {{data.shortname}}</option>
									{{/is}}
								{{/each}}
							</select>
						</label>
					</div>
					<div class="column">
						<label for="">Date</label>
						<input id="datepicker" type="text" name="date" required />
					</div>
					<div class="column">
						<label for="">Number of people
							<input type="text" name="people" required>
						</label>
					</div>
					<div class="column">
						<label for="">Comments
							<textarea type="text" name="comments"></textarea>
						</label>
					</div>					
				</div>
				<button class="button expand">Enviar</button>
			</form>	

		</div>
		<div class="column large-7 form-info">
			<h3>Important information</h3>
			Once you submit this form, we will contact you by email or phone as soon as possible to confirm your reservation date and explain you the payment instructions.
		</div>
	</div>

</div>

