---
category: form
lang: es
title: Thank you
shortname: We will contact you as soon as possible

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg
---

<div class="content content--index">
	<div class="row">
		<div class="column form-info">
		<h3>Many thanks to trust in us</h3>
			We have sent an email to your account with the reservation details. We will contact you as soon as possible to confirm your reservation and inform you about the payment methods available.
		</div>
	</div>
</div>
