---
category: route

featured: true

tag: wings
lang: en
title: "Among dolphins and pirates, the secrets of the cliffs"
shortname: "Serra Gelada Nature Reserve by boat"
Area: "Serra Gelada Natural Reserve by boat"

Price: 75€
Length: "4h"
Distance: 45km
Difficulty: Low
Slope: 0m

Schedule:
- item: "10:00 Start marine guided route from the harbour of Altea"
- item: "11:30 Break for snack on board and swim "
- item: "14:00 Return to the harbour"

Included:
- item: "Exclusive rent of sailboat with skipper service"
- item: "Full guide service throughout. Expert guides on environmental and cultural heritage of the Costa Blanca"
- item: "Insurance"
- item: "Mid morning snack with local products"

Notincluded:
- item: "Collection from home or accommodation and lunch in a traditional restaurant (Additional extra. Booking optional)"

PriceVariation: "75 € per person. (VAT incl.)(6 people group). 75 € for Mid season (May, June, July, September). € 80 in High Season (August). Check price for a different number of participants."

Photos:
- item: w0701.jpg
- item: w0702.jpg
- item: w0703.jpg
- item: w0704.jpg
- item: w0705.jpg
- item: w0706.jpg
- item: w0707.jpg
- item: w0708.jpg
- item: w0709.jpg

Thumbnail: w07thumb.jpg

formlink: https://docs.google.com/forms/d/e/1FAIpQLScyAIPxnFTly-Fmtk29MIQDoxyOURuPAh0S69czvCtCfiJcqg/viewform
formtag: Sailboat route in Serra Gelada Nature Reserve

Map:
	lat: 38.564705
	long: -0.057209
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Only <b>from the sea</b> is it possible to truly appreciate the true wonder of the <b>Serra Gelada terrestrial marine Natural Reserve</b> located between Benidorm, l'Alfàs del Pi and Altea. <b>Oxytours</b> and <b>Rumboaltea Charter</b> come together to offer you this unique opportunity to experience a guided sailboat pirate tour.
			</p>
			<p>
				Having embarked in <b>Altea</b> we sail to the feet of its incredible cliffs where we will come across the Serra Gelada <b>flora and fauna</b>, the <b>highest</b> fossil dune in Europe, the greatest presence of <b>Bottlenose dolphins</b> (<i>Tursiops truncatus</i>) in the Valencia region and know the existence of an impressive marine plant named <i>Posidonia oceanica</i>.
			</p>
			<p>
				Throughout this amazing sailboat route you will discover the chilling history of <b>Piracy</b> on our Mediterranean coast. In particular the <b>Berber pirate attacks</b> which devastated coastal resident life for over 300 years dating back to the <b>16th century</b>. We will sail along the cliffs and coves of Serra Gelada nature reserve which gave shelter to these thieves, rapists and Kidnappers based in Benidorm, Altea and the rest of Alicante coastline.
			</p>
			<p>
				We also have the chance to get to know Altea and Benidorm marine <b>birdlife</b> where depending on the time of year it is posible to see various protected species such as <b>Balearic searwather</b> (<i>Puffinus mauretanicus</i>) and <b>Mediterranean searwather</b> (<i>Calonectris diomedea</i>), <b>European storm-petrel</b> (<i>Hydrobates pelagicus</i>),  <b>Audouin’s Gull</b> (<i>Ichthyaetus audouinii</i>), <b>Shag</b> (<i>Phalacrocorax aristotelis</i>) or <b>Northern gannet</b> (<i>Morus bassanus</i>).
			</p>
			<p>
				We offer you the <b>unique opportunity</b> to board a great sailboat to discover the secrets of the cliffs and <b>enjoy swimming</b> in these fabulous surroundings. This fantastic experience cannot be achieved any other way. What’s more we can provide <b>transport</b> to and from your accommodation if required and <b>lunch</b> in a traditional restaurant at an additional charge.
			</p>
			<p>
				<b>Without doubt, the best way to discover the Costa Blanca</b>.
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Details</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prices by number of people</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Price includes</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Price not includes</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}
