---
category: route

featured: true

tag: wings
lang: en
title: "The sea of cereals, kingdom of the Great Bustard"
shortname: "La Mancha and Alicante inland areas"
Area: "La Mancha and Alicante inland areas"

Price: 90€
Length: 9h
Distance: 250km
Difficulty: Low
Slope: 100m

Schedule:
- item: "07:00-08:00 Pick up from your accommodation *"
- item: "09:00 Start guided birdwatching tour, from the vehicle and walking, by our Tour leader"
- item: "11:30 Break for snack"
- item: "14:00 Lunch at our selected restaurant"
- item: "18:00 Transfer to accommodation of client and end of the journey"
- item: "* Exact time to be determined depending of your location"

Included:
- item: "Transfers from your accommodation (*) to the area to visit"
- item: "Full guide service throughout"
- item: "Personal insurance"
- item: "Mid morning snack"
- item: "5 course traditional lunch (set menu)."
- item: "Lending of optical equipment for birding"

PriceVariation: "90 € by person. Children under 12 years: 70 € (VAT incl.)(4 to 7 people groups). Check price for a different number of participants."

Photos:
- item: w0801.jpg
- item: w0802.jpg
- item: w0803.jpg
- item: w0804.jpg
- item: w0805.jpg

Thumbnail: w08thumb.jpg

Map:
	lat: 38.800871
	long: -1.430822
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Inland of southeast Spain between the <b>Costa Blanca</b> and its neighbouring región of <b>La Mancha</b> we cross a totally different sea which has little to do with the traditional coast. The wind still creates its waves but on occasion gives us such an intense green which later becomes golden toasted crops.
			</p>
			<p>
				The <b>inland seas</b> are a spectacular <b>mosaic of cereal fields</b> which are home to among others the <b>Great bustard</b> (<i>Otis tarda</i>), one of the largest birds in Europe, whose <b>nuptial courtship</b> is one of the most amazing seen in nature.
			</p>
			<p>
				These areas also offer us the chance to see more wonderful birds such as <b>Lesser kestrel</b> (<i>Falco naumanni</i>) which brings up its young in the old abandoned houses of the area. <b>Little bustard</b> (<i>Tetrax tetrax</i>), <b>Pin-tailled sandgrouse</b> (<i>Pterocles alchata</i>), <b>Black-bellied sandgrouse</b> (<i>Pterocles orientalis</i>), <b>Stone curlew</b> (<i>Burhinus oedicnemus</i>) or <b>Calandra lark</b> (<i>Melanocorypha calandra</i>) are all present in this protected birdlife area designated <b>IBA by the European Union</b>.
			</p>
			<p>
				The <b>great diversity of the environment</b> coupled with high and low salt content lagoons, little woods of Holm oak and pines, cereal fields or cultivation lands enable us to witness the extraordinary gathering of species just a few kilometres from the coast. You will delight in seeing <b>ducks, flamingos, waders or cranes</b> in this exquisite home of birdlife.
			</p>
			<p>
				We might even be lucky enough to see one of the rarest and most significant European birds, the <b>Spanish Imperial eagle</b> (<i>Aquila adalberti</i>) which uses these fields to hunt for its prey.
			</p>
			<p>
				We are able to provide you with the necessary prismatic lenses or scope so you can thoroughly enjoy your birdwatching.
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Details</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prices by number of people</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Price includes</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Price not includes</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}
