---
category: route

featured: true

tag: roots
lang: es
title: "Los últimos castillos de Al-Azraq, fortaleza de Gallinera"
shortname: Valle de la Gallinera
Area: Valle de Gallinera

Price: 75€
Length: 3.5 / 4h
Distance: 8km
Difficulty: Baja
Slope: 300m

Schedule:
- item: "08:30-09:30 Recogida en el lugar de alojamiento *."
- item: "10:00 Inicio de Ruta senderista e interpretación del Patrimonio a cargo de nuestros guías. "
- item: "11:30 Descanso para el almuerzo. "
- item: "14:00 Comida en el restaurante seleccionado. "
- item: "18:00 Traslado hasta el alojamiento del cliente y fin de la jornada."
- item: "* La hora exacta de recogida dependerá de la localidad donde se sitúe su alojamiento."

Included:
- item: "Traslados desde el alojamiento* hasta la zona a visitar y viceversa."
- item: "Servicio de guiado en ruta y asistencia durante toda la jornada."
- item: "Seguro de accidentes y responsabilidad civil. "
- item: "Almuerzo típico de la zona."
- item: "Comida: Menú concertado con el restaurante. "

Notincluded:
- item: "Visita a cooperativa de cerezas (contratación opcional)."

PriceVariation: "75 € por persona. IVA incluido (Grupos de 4 a 7 personas). Consulte precio para un número distinto de participantes."

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg

Thumbnail: r02thumb.jpg

Map:
	lat: 38.819224
	long: -0.221460
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Cada paso dado en estas montañas le transportará a tiempos remotos, cuando sus antiguos pobladores excavaron y afianzaron los senderos que unían sus poblados y que aún hoy se conservan. Una tierra orgullosa de sus orígenes donde fueron constantes las batallas y luchas por cada Castillo, por cada rincón del valle. Las fuentes y manantiales aún cuentan la vida de Al-Azraq, el ultimo visir moro de Valencia que luchó por estas tierras contra el rey cristiano Jaume I en el siglo XIII. 
			</p>
			<p> 
				Caminará por sus senderos descubriendo un valle fértil y acogedor que alberga un excepcional patrimonio ambiental y cultural que incluye especies botánicas endémicas únicas en el mundo o abrigos con muestras de arte rupestre Neolítico declaradas Patrimonio de la Humanidad por la Unesco en 1988. 
			</p>
			<p> 
				Actualmente, el cultivo del cerezo es la base de la economía de la zona y en primavera la espectacular floración tiñe de blanco el valle. Pero todo el año es posible disfrutar de este valle a través de sus caminos o admirando los restos del castillo de Gallinera, una de las últimas fortalezas de Al-Azraq, que resistió como pocos 
				en el Mediterráneo la conquista cristiana y que aún hoy, 800 años después, exhibe orgullosos sus restos. 
			</p>
			<p>
				No hay mejor manera de acabar la mañana que hablando de lo visto y vivido en la montaña alrededor de una buena mesa. Para ello Oxytours ha seleccionado un restaurante en la zona en el que tendrá la oportunidad de degustar la excelente gastronomía del lugar donde la tradición de siglos, la calidad de los productos locales y el trabajo pausado en la cocina ofrecen como resultado platos con personalidad propia, como la de cada rincón de este valle.
			</p>
			<p>
				Como opción para finalizar la jornada podrá contratar la visita a las instalaciones de una cooperativa de cerezas donde, además de realizar una degustación de sus productos, descubriremos la importancia económica y social de su cultivo para el valle.			
			</p>
			<p>
				Un valle increíble. Descúbralo con Oxytours.		
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Hoja de ruta</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Precio por persona</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Incluído en el precio</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">No incluído en el precio</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>

</div>	

{{>map this}}