---
category: route
tag: roots
lang: es
title: Recorriendo los dominios del Diablo
shortname: Barranco del Infierno
Area: Vall d'Ebo

Price: 75€
Length: 4h
Distance: 10km
Difficulty: Media
Slope: 400m

Schedule:
- item: "08:30-09:30 Recogida en el lugar de alojamiento *."
- item: "10:00 Inicio de Ruta senderista e interpretación del Patrimonio a cargo de nuestros guías. "
- item: "11:30 Descanso para el almuerzo. "
- item: "14:00 Comida en el restaurante seleccionado. "
- item: "18:00 Traslado hasta el alojamiento del cliente y fin de la jornada."
- item: "* La hora exacta de recogida dependerá de la localidad donde se sitúe su alojamiento."

Included:
- item: "Traslados desde el alojamiento* hasta la zona a visitar y viceversa."
- item: "Servicio de guiado en ruta y asistencia durante toda la jornada."
- item: "Seguro de accidentes y responsabilidad civil. "
- item: "Almuerzo típico de la zona."
- item: "Comida: Menú concertado con el restaurante. "

PriceVariation: "75 € por persona. IVA incluido (Grupos de 4 a 7 personas). Consulte precio para un número distinto de participantes."

Photos:
- item: r0901.jpg
- item: r0902.jpg
- item: r0903.jpg
- item: r0904.jpg
- item: r0905.jpg
- item: r0906.jpg

Thumbnail: r09thumb.jpg

Map:
	lat: 38.785713
	long: -0.122325
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<p>
				La primera vez que el visitante accede al cauce del barranco del Infierno de la Costa Blanca se ve asaltado por una sensación extraña, casi mística, pues el paisaje que tiene delante no parece real. Las paredes del cauce prácticamente se tocan y una enorme cantidad de bloques de piedras aparecen por doquier, repartidos en un caos de caliza blanca.
			</p>
			<p> 
				Imaginar cómo sólo la fuerza incontrolable del agua de las lluvias torrenciales de esta zona del Mediterráneo, ha esculpido en la montaña, esta gran hendidura de más de 15 kilómetros de largo es algo que, sin duda, impresiona a visitantes y pobladores de la zona, que pensaban que algo así sólo podía ser obra del Diablo. La acción incansable del agua durante millones de años no sólo ha dado lugar a angostos barrancos en esta región. Son varias las cuevas que se pueden encontrar, como la cueva del Rull, un maravilloso conjunto de estalactitas y estalagmitas, coladas o banderas.
			</p>
			<p>
				Esta ruta diseñada por Oxytours le adentrará en el corazón mismo de la montaña a través del cauce del barranco y del singular paisaje vertical. Antes de llegar a él andaremos por caminos entre zonas de cultivo desde los que contemplaremos una bella panorámica del interior de la Costa Blanca, para a continuación descender hasta el lecho del barranco por un sinuoso camino abierto por los árabes siglos atrás. 
			</p>
			<p>
				La gastronomía en esta zona de la Costa Blanca está en sintonía con sus pueblos y sus gentes. Es pausada, tranquila, rica en matices y detalles, resultado de una tradición que se pierde en las raíces de los pueblos y que ha conseguido llegar hasta nuestros días. Podrá disfrutar del saber hacer en la cocina de generaciones de hombres y mujeres en el restaurante que hemos seleccionado para usted.
			</p>
			<p>
				Caminar por espectaculares barrancos o cuevas subterráneas. Fotografiar paisajes desde senderos repletos de historia. Sentir el sabor de la tradición gastronómica de la Costa Blanca. 
			</p>
			<p>
				Descubra todo esto y  mucho más con Oxytours. 
			</p>
		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Hoja de ruta</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Precio por persona</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Incluído en el precio</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">No incluído en el precio</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}