---
category: route
tag: roots
lang: es
title: Andando por las montañas del Gigante Roldán
shortname: Monte Puig Campana
Area: Monte Puig Campana

Price: 70€
Length: 6.5 / 7h
Distance: 15km
Difficulty: Alta
Slope: 900m

Schedule:
- item: "08:30-09:30 Recogida en su lugar de alojamiento *."
- item: "10:00 Inicio de Ruta senderista e interpretación del Patrimonio a cargo de nuestros guías. "
- item: "11:30 Descanso para el almuerzo. "
- item: "14:00 Comida tipo pic-nic en ruta. "
- item: "18:30 Traslado hasta el alojamiento del cliente y fin de la jornada."
- item: "* La hora exacta de recogida dependerá de la localidad donde se situe su alojamiento."

Included:
- item: "Traslados desde el alojamiento* hasta la zona a visitar y viceversa."
- item: "Servicio de guiado en ruta y asistencia durante toda la jornada."
- item: "Seguro de accidentes y responsabilidad civil. "
- item: "Almuerzo típico de la zona."
- item: "Comida: Picnic elaborado con productos locales y de forma tradicional."

PriceVariation: "70 € por persona. IVA incluido (Grupos de 4 a 7 personas). Consulte precio para un número distinto de participantes."

Photos:
- item: r0701.jpg
- item: r0702.jpg
- item: r0703.jpg
- item: r0704.jpg
- item: r0705.jpg

Thumbnail: r07thumb.jpg

Map:
	lat: 38.606249
	long: -0.190992
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<p>
				Visible desde casi cualquier punto del litoral de la Costa Blanca, el Puig Campana emerge como un coloso imponente, y realmente lo es, un gigante de 1.410 metros de altura a tan sólo 8 kilómetros del mar Mediterráneo, que atrae como un imán de manera inevitable a los visitantes que fijan su mirada en él y en el tajo de Roldán, espectacular corte en la ladera visible a pie de costa.
			</p>
			<p> 
				Hay quien dice que el tajo de Roldán fue producido por procesos naturales, pero la leyenda asegura que no fue así. La furia de un gigante y su desesperación por proteger a su amada lo causaron hace cientos de años y hay quién dice que, aún hoy en día, en las noches de luna se escucha el llanto del gigante Roldán en las solitarias laderas.
			</p>
			<p>
				El Puig Campana está considerado como un paraíso por los senderistas que visitan la Costa Blanca ya que desde su cima se contempla una de las mejores panorámicas de la costa. Sin embargo, durante esta travesía con Oxytours descubrirá que es mucho más, un lugar donde escasas especies botánicas encuentran refugio, donde es fácil observar los arruís mientras halcones peregrinos llamarán su atención con su acrobático vuelo.
			</p>
			<p>
				Durante unas 6 horas aproximadamente recorrerá con nuestros guías esta imponente montaña litoral, realizando un par de descansos para reponer fuerzas y admirar su paisaje. En las paradas Oxytours les ofrece un almuerzo y una comida tipo picnic, elaborados de forma casera y con deliciosos productos típicos de la zona.
			</p>
			<p>
				Este macizo montañoso nos cuenta la transformación de la comarca de la Marina Baixa, de un territorio de agricultores y pescadores a convertirse en uno de los principales destinos turísticos europeos con localidades como La Nucía, Guadalest o Benidorm. Un lugar del Mediterráneo donde un sol generoso, una gastronomía única y un excepcional Patrimonio ambiental y cultural han dado lugar a una región que sin duda le sorprenderá.
	
			</p>
			<p>
				Disfrútelo con Oxytours
			</p>
		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Hoja de ruta</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Precio por persona</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Incluído en el precio</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">No incluído en el precio</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}