---
category: route

featured: true


tag: roots
lang: es
title: Ascendiendo al León dormido de la Marina Baixa
shortname: Monte Ponoig
Area: Monte Ponoig

Price: 85€
Length: 3,5 / 4h
Distance: 8km
Difficulty: Media
Slope: 500m

Schedule:
- item: "08:30-09:30 Recogida en su lugar de alojamiento *."
- item: "10:00 Inicio de Ruta senderista e interpretación del Patrimonio a cargo de nuestros guías. "
- item: "11:30 Descanso para el almuerzo. "
- item: "14:00 Comida en el restaurante seleccionado. "
- item: "18:00 Traslado hasta el alojamiento del cliente y fin de la jornada."
- item: "* La hora exacta de recogida dependerá de la localidad donde se situe su alojamiento."

Included:
- item: "Traslados desde su alojamiento* hasta la zona a visitar y viceversa."
- item: "Servicio de guiado en ruta y asistencia durante toda la jornada."
- item: "Seguro de accidentes y responsabilidad civil. "
- item: "Almuerzo típico de la zona."
- item: "Comida: Menú concertado con el restaurante. "

Notincluded:
- item: "Visita a bodega de vino y aceite (contratación opcional)."

PriceVariation: "85 € por persona. IVA incluido (Grupos de 4 a 7 personas). Consulte precio para un número distinto de participantes."

Photos:
- item: r1101.jpg
- item: r1102.jpg
- item: r1103.jpg
- item: r1104.jpg
- item: r1105.jpg
- item: r1106.jpg
- item: r1107.jpg
- item: r1108.jpg

Thumbnail: r11thumb.jpg

Map:
	lat: 38.606249
	long: -0.190992
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<p>
				Gabriel Miró, destacado escritor y poeta alicantino de inicio del siglo XX denominó al Monte Ponoig el “León dormido”, pues así lo parece esta montaña, cuyos estratos plegados se asemejan a la melena del gran felino. El que se aventura a caminar por él descubre que la montaña es en efecto un verdadero león de grandes acantilados, profundos barrancos y con una magnífica atalaya que es su cima desde la que se observa, a 1.189 metros de altura, una panorámica excelente de la Costa Blanca.
			</p>
			<p> 
				Sin duda el Ponoig es una montaña diferente, altiva, única. Su elevada altitud unida a su cercanía al Mediterráneo ha dado lugar a una serie de hábitats distintos que albergan numerosas especies de plantas y animales de especial singularidad y que conocerá de mano de nuestros guías. Una elevadísima biodiversidad que convierten a esta zona en un paraíso ambiental y paisajístico.
			</p>
			<p>
				Los senderos del Ponoig relatan cómo vivían aquí sus gentes, de qué manera se ganaban la vida, como conocían las propiedades curativas de las plantas presentes en sus laderas o como vivieron la transformación que sufrió esta región desde los años 50 hasta la actualidad. Aún permanecen los muros de piedra de las zonas de cultivo en la montaña, atentos a todo lo que acontece. 
			</p>
			<p>
				De todas las historias que contamos en esta jornada, una de ellas no se escucha, se siente con todos y cada uno de sus sentidos. Porque hay lugares en los que comer deja de ser el sentarse en una mesa y probar una serie de platos para convertirse en un viaje, un viaje al pasado y también al futuro, donde el respeto por la tradición en la elaboración de los platos, la calidad de verduras y hortalizas de sus huertas o el buen hacer con las carnes, pescados y mariscos se combinan con la pasión por la gastronomía y el amor por la tierra, para hacer entender a los comensales por qué la cocina de la Costa Blanca es un placer para los sentidos.
			</p>
			<p>
				Para finalizar nuestro tour, después de la comida, podrá contratar de manera opcional la visita a una excelente bodega para conocer el funcionamiento de la misma, realizando la cata de una pequeña selección de vinos y aceites de oliva de excelente calidad.
			</p>
			<p>
				Acompáñenos por nuestras montañas conociendo la importancia de sus plantas y aves, de su Patrimonio cultural, de su excelente gastronomía.
			</p>
			<p>
				Reserve con Oxytours.
			</p>
		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Hoja de ruta</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Precio por persona</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Incluído en el precio</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">No incluído en el precio</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}