---
category: form
lang: es
title: Gracias
shortname: Nos pondremos en contacto con usted lo antes posible

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg
---

<div class="content content--index">
	<div class="row">
		<div class="column form-info">
		<h3>Muchas gracias por confiar en nosotros</h3>
			Hemos enviado un correo a su cuenta con los datos de la reserva. Nos pondremos en contacto con usted lo antes posible para confirmarle su reserva e informale de los métodos de pago disponibles.
		</div>
	</div>
</div>
