		<h3>Turismo responsable</h3>

		<div class="row">
			<div class="column large-6">
				<p>
					La Organización Mundial del Turismo (OMT), define turismo sostenible como:</p>
					<p>
						El turismo que tiene plenamente en cuenta las repercusiones actuales y futuras, económicas, sociales y medioambientales para satisfacer las necesidades de los visitantes, de la industria, del entorno y de las comunidades anfitrionas.
					</p>
					<p>
						Oxytours es turismo sostenible. Para nosotros el turismo sostenible implica respeto. Respeto por el medio y los valores de la comunidad donde se desarrolla la actividad turística. Y también compromiso. Compromiso con la conservación del entorno y con el desarrollo socioeconómico de estas comunidades.
					</p>
					<p>
						<strong>Nuestro compromiso se concreta de la siguiente forma:</strong><br>
						<ul>
							<li>
								1. Trabajamos con banca ética. Triodos Bank es una entidad que utiliza el dinero de sus ahorradores e inversores para dar préstamos a empresas y proyectos de la economía real, en sectores sociales, culturales y medioambientales. Además, es transparente con el uso del dinero.
							</li>
							<li>
								2. Destinamos el 0,7 % de lo que usted paga por su tour a acciones de conservación en las localidades donde desarrollamos nuestra actividad. Consulte nuestra memoria anual donde detallamos el uso que hacemos de este dinero.
							</li>
							<li>
								3. Compensamos las emisiones de C02 quegeneramos con nuestra actividad. Hemos calculado las emisiones de Co2 para cada uno de nuestros
							</li>
							<li>
								4. Salvaguarda de nuestra cultura y territorio: No sólo somos negocio. Invertimos parte del coste de la actividad en la conservación de nuestro patrimonio y usted será partícipe de ello. Descubra cómo.
							</li>
						</ul>
					</p>
					<p>
						Oxytours les ofrece turismo de naturaleza de calidad, innovador, fuera de los circuitos turísticos, respetuoso con su entorno y lleno de sabor y matices extraordinarios....
					</p>
					<p>Turismo con Raíces y Alas</p>				
				</div>
				<div class="column large-6">
					asdasdasd
				</div>
			</div>
		</div>