---
category: route

featured: true

tag: wings
lang: es
title: El mar de cereal, reino de la Avutarda
shortname: Áreas del interior de Alicante y Albacete
Area: Áreas del interior de Alicante y Albacete

Price: 90€
Length: 9h
Distance: 250km
Difficulty: Baja
Slope: 100m

Schedule:
- item: "07:00-8:00  Recogida en el lugar de alojamiento *."
- item: "09:00 Inicio del recorrido para observación de aves desde vehículo y a pie a cargo de nuestros guías. "
- item: "11:30 Descanso para el almuerzo. "
- item: "14:00 Comida en el restaurante seleccionado."
- item: "18:00 Traslado hasta el alojamiento del cliente y fin de la jornada."
- item: "* La hora exacta de recogida dependerá de la localidad donde se sitúe dicho alojamiento."

Included:
- item: "Traslados desde el alojamiento* hasta la zona a visitar y viceversa."
- item: "Servicio de guiado en ruta y asistencia durante toda la jornada."
- item: "Seguro de accidentes y responsabilidad civil. "
- item: "Almuerzo típico de la zona."
- item: "Comida: Menú concertado con el restaurante elegido."
- item: "Préstamo de equipo óptico para la observación de aves."

PriceVariation: "90 € por persona. Menores de 12 años: 70 € IVA incluido (Grupos de 4 a 7 personas). Consulte precio para un número distinto de participantes."

Photos:
- item: w0801.jpg
- item: w0802.jpg
- item: w0803.jpg
- item: w0804.jpg
- item: w0805.jpg

Thumbnail: w08thumb.jpg

Map:
	lat: 38.800871
	long: -1.430822
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				En el sureste español, entre el interior de la Costa Blanca y la vecina región de Castilla La Mancha encontramos otro mar, que poco tiene que ver con el que se observa desde la costa. El viento también dibuja olas en él, pero este en ocasiones presenta un color verde intenso para luego pasar a un dorado tostado de espigas. 
			</p>
			<p> 
				Así son los mares del interior, un espectacular mosaico de campos de cereal donde destaca, entre el resto de aves presentes aquí, la Avutarda (Otis tarda), una de las aves de mayor tamaño presente en Europa y cuyo cortejo nupcial es uno de los más espectaculares que se pueden observar en la naturaleza. 
			</p>
			<p>
				Pero además en estas llanuras cerealistas podrá observar otras aves ligadas a este medio como es el caso de los Cernícalos primilla (Falco naumanii,) que utiliza las viejas casas diseminadas por la zona para poder criar, el Sisón (Tetrax tetrax), la Ganga (Pterocles alchata) y la Ortega (Pterocles orientalis), el Alcaraván (Burhinus oedicnemus) o la Calandria (Melanocorypha calandra) presentes en estas áreas declaradas por la Unión Europea como Zonas de Especial Protección para las aves (ZEPA). 
			</p>
			<p>
				La gran diversidad de ambientes presentes, con lagunas con distinto grado de salinidad, bosquetes de encinas, pinares, campos de cereal y zonas de cultivo posibilita que a escasos kilómetros de la costa encontremos un variado conjunto de especies que hará las delicias de cualquier apasionado de las aves como anátidas, limícolas, flamencos o grullas. 
			</p>
			<p>
				Incluso, si somos afortunados, podremos observar una de las especies más importantes y escasas de la avifauna europea, el Águila imperial ibérica (Aquila adalberti), que utiliza estos campos como zona de caza.
			</p>
			<p>
				Y no se preocupe si no incluyó en su maleta prismáticos o telescopio. Nosotros le prestaremos el equipo necesario para que pueda disfrutar de una magnífica jornada de observación de aves.
			</p>
			<p>
				Conozca el interior de la Costa Blanca y la Mancha observando sus aves. Descúbralas con Oxytours. Reserve ya su itinerario.
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Hoja de ruta</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Precio por persona</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Incluído en el precio</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">No incluído en el precio</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>	

{{>map this}}