---
category: form
lang: es
title: Aviso legal
shortname: 

Photos:
- item: r0101.jpg
- item: r0201.jpg
- item: r0301.jpg
- item: r0401.jpg
- item: r0501.jpg
- item: r0601.jpg
---

<div class="content content--index">

	<div class="row">
		<div class="column">
			<div class="row u-mgt">

				<p>
				<strong>AVISO LEGAL</strong>
				</p>

				<p>
					Las presentes disposiciones regulan el uso del Sitio Web www.oxytours.com (en adelante el “Sitio web”) puesto a disposición de los usuarios de Internet.
				</p>


				<p>
					<strong>1.- Información sobre la entidad</strong>
				</p>


				<p>
					En cumplimiento de lo previsto en la Ley 34/2002, de Servicios de la Sociedad de la Información y de Comercio Electrónico, se pone en conocimiento de los
					usuarios del Sitio Web www.oxytours.com los siguientes datos de información general:
				</p>

				<p>
					<strong>Denominación social:</strong>
				</p>

				<p>
					Oxytours
				</p>

				<p>
					NIF: 48355979-C
				</p>

				<p>
					<strong>Domicilio social:</strong>
				</p>

				<p>
					Calle Médico Pérez Martorell, nº3,
				</p>

				<p>
					03005- Alicante
				</p>

				<p>
					<strong>Correo electrónico:</strong>
				</p>

				<p>
					info@oxytours.com
				</p>

				<p>
					<strong>Teléfono:</strong>
				</p>


				<p>
					<strong>Titulación académica:</strong>
				</p>

				<p>
					Lic. en Ciencias Ambientales
				</p>

				<p>
					Estado de la Unión Europea o del ámbito económico europeo donde fue concedida dicha titulación:
				</p>

				<p>
					España
				</p>



				<p>
					<strong>2.- Condiciones de uso</strong>
				</p>

				<p>
					La utilización del Sitio Web atribuye la condición de usuario del mismo (en adelante, el ‘Usuario’) e implica la aceptación de todas las condiciones
					incluidas en este Aviso Legal. La prestación del servicio del Sitio Web tiene una duración limitada al momento en el que el Usuario se encuentre conectado
					al mismo. Sólo está autorizado el uso personal y no comercial. No se autoriza la copia, reproducción, transmisión, distribución o modificación del sitio o
					sus contenidos.
				</p>

				<p>
					Oxytours se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en esta página web, pudiendo modificar, eliminar o
					añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su web.
				</p>

				<p>
					El Usuario debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar el Sitio web, ya que éste y sus
					condiciones de uso recogidas en el presente Aviso Legal pueden sufrir modificaciones.
				</p>

				<p>
					El acceso al Sitio web, así como el uso que pueda hacerse de la información que contiene, son de la exclusiva responsabilidad del Usuario. Oxytours no se
					responsabilizarán de ninguna consecuencia, daño o perjuicio que pudieran derivarse de ese acceso o uso de información, sin menoscabo de la aplicación de
					las disposiciones legales a las que deba someterse en el ejercicio de sus funciones.
				</p>

				<p>
					En el Sitio web se pueden incluir hiperenlaces a otras páginas de Internet de terceros (“links”), que se han considerado de interés para los usuarios. No
					obstante, Oxytours no asume ninguna responsabilidad derivada de la conexión, servicios o contenidos de las páginas de terceros a las que se haga
					referencia.
				</p>

				<p>
					El acceso al Sitio Web es gratuito salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de
					acceso contratado por los usuarios. Sin embargo, determinados servicios pueden ser exclusivos para nuestros usuarios y clientes y su acceso puede
					encontrarse restringido. Los servicios que presta Oxytours tienen el precio que, en su caso, se indique en sus correspondientes condiciones particulares.
				</p>


				<p>
					<strong>3.- Protección de Datos</strong>
				</p>

				<p>
					Los datos de carácter personal que facilite el Usuario se tratarán de acuerdo a lo establecido por la Ley Orgánica 15/1999, de Protección de Datos de
					Carácter Personal y demás normativa de aplicación. Sean esos datos facilitados en el Sitio Web o por el envío de correos electrónicos o dirección postal de
					Oxytours.
				</p>

				<p>
					Facilitar sus datos supondrá que el Usuario ha aceptado que los mismos serán incorporados a ficheros titularidad de Oxytours y tratados con la finalidad de
					tramitar las consultas o solicitudes planteadas a Oxytours o enviarle información que pueda ser de su interés. Dichos datos no se cederán a ningún tercero,
					excepto por obligaciones legales.
				</p>

				<p>
					El Usuario podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición mediante escrito, incluyendo una copia de su DNI u otro documento
					identificativo equivalente, dirigida a la dirección postal o dirección de correo eléctrónico de Oxytours indicada en el primer apartado de este Aviso
					Legal.
				</p>


				<p>
					<strong>4.- Propiedad intelectual e industrial</strong>
				</p>

				<p>
					Todos los contenidos del Sitio Web, entendiendo por estos a título meramente enunciativo los textos, fotografías, gráficos, imágenes, iconos, tecnología,
					software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, los ‘Contenidos’), son propiedad
					intelectual de Oxytours, o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación reconocidos por la normativa
					vigente en materia de propiedad intelectual sobre los mismos, salvo aquellos que resulten estrictamente necesario para el uso del Sitio Web.
				</p>

				<p>
					Las marcas, nombres comerciales o signos distintivos son titularidad de Oxytours, sin que pueda entenderse que el acceso al Sitio Web atribuya ningún
					derecho de propiedad industrial sobre las citadas marcas, nombres comerciales y/o signos distintivos.
				</p>

				<p>
					La utilización no autorizada de la información contenida en este Sitio web, así como los perjuicios que pudieran ocasionarse en los derechos de propiedad
					intelectual o industrial de Oxytours, o de terceros, pueden dar lugar al ejercicio de las acciones que legalmente correspondan y, si procede, a las
					responsabilidades que de dicho ejercicio se deriven.
				</p>


				<p>
					<strong>5.- Política de cookies</strong>
				</p>

				<p>
					El Sitio Web www.oxytours.com utiliza una tecnología denominada “cookies” con la finalidad de poder recabar información acerca del uso del Sitio Web.
				</p>

				<p>
					Una cookie es un archivo que se descarga en su equipo (ordenador o dispositivo móvil) con la finalidad de almacenar datos que podrán ser actualizados y
					recuperados por la entidad responsable de su instalación.
				</p>

				<p>
					La información recabada a través de las cookies puede incluir la fecha y hora de visitas al Sitio Web, las páginas visionadas, el tiempo que ha estado en
					nuestro Sitio Web y los sitios visitados justo antes y después del mismo.
				</p>

				<p>
					Le informamos de que podemos utilizar cookies con la finalidad de facilitar su navegación a través del Sitio Web, distinguirle de otros usuarios,
					proporcionarle una mejor experiencia en el uso del mismo, e identificar problemas para mejorar nuestro Sitio Web. Asimismo, en caso de que preste su
					consentimiento, utilizaremos cookies que nos permitan obtener más información acerca de sus preferencias y personalizar nuestro Sitio Web de conformidad
					con sus intereses individuales.
				</p>


				<p>
					<strong>5.1.- Tipo de cookies que se usan en el Sitio Web</strong>
				</p>

				<p>
					Nuestro Sitio Web utiliza las cookies que se describen a continuación:
				</p>


				<p>
					<strong>Cookies propias</strong>
				</p>

				<p>
					Son aquellas cookies que son enviadas a su ordenador y gestionadas exclusivamente por nosotros para el mejor funcionamiento del Sitio Web. La información
					que recabamos se emplea para mejorar la calidad de nuestro servicio y su experiencia como usuario. Estas cookies permanecen en su navegador más tiempo,
					permitiéndonos reconocerle como visitante recurrente del Sitio Web y adaptar el contenido para ofrecerle contenidos que se ajusten a sus preferencias.
				</p>


				<p>
					<strong>Cookies analíticas de terceros</strong>
				</p>

				<p>
					Estas cookies, junto con nuestros archivos de registro del servidor, nos permiten conocer el número total de usuarios que visitan nuestro Sitio Web y
					aquellas partes del mismo que gozan de mayor popularidad. Gracias a ellas obtenemos una información que puede ayudarnos a mejorar la navegación y dar un
					mejor servicio a usuarios y clientes.
				</p>

				<p>
					Si interactúa con el contenido de nuestro Sitio Web también pueden establecerse cookies de terceros (por ejemplo, al pulsar botones de redes sociales o
					visionar vídeos alojados en otro sitio web). Las cookies de terceros, son aquellas establecidas por un dominio diferente de nuestro Sitio Web. No podemos
					acceder a los datos almacenados en las cookies de otros sitios web cuando navegue en los citados sitios web.
				</p>


				<p>
					<strong>5.2.- Consentimiento</strong>
				</p>

				<p>
					Al navegar y continuar en nuestro Sitio Web estará consintiendo el uso de las cookies antes enunciadas, por los plazos señalados y en las condiciones
					contenidas en la presente Política de Cookies.
				</p>

				<p>
					<strong>5.3.- Deshabilitar y bloquear cookies</strong>
				</p>

				<p>
					En cualquier caso, le informamos de que dado que las cookies no son necesarias para el uso de nuestro Sitio Web, puede bloquearlas o deshabilitarlas
					activando la configuración de su navegador que le permite rechazar la instalación de todas las cookies o de algunas de ellas. La práctica mayoría de los
					navegadores permiten advertir de la presencia de cookies o rechazarlas automáticamente. Si las rechaza podrá seguir usando nuestro Sitio Web, aunque el uso
					de algunos de sus servicios podrá ser limitado y por tanto su experiencia en nuestro Sitio Web menos satisfactoria.
				</p>

				<p>
					<strong>5.4.- Retirar su consentimiento</strong>
				</p>

				<p>
					Si quisiese retirar en cualquier momento su consentimiento relacionado con la presente Política de Cookies, deberá eliminar las cookies almacenadas en su
					equipo (ordenador o dispositivo móvil) a través de los ajustes y configuraciones de su navegador de Internet.
				</p>

				<p>
					Salvo que haya ajustado la configuración de su navegador, nuestro sistema creará cookies en cuanto visite nuestro Sitio Web. Tenga presente que todos los
					navegadores de Internet permiten el cambio de dicha configuración.
				</p>

				<p>
					<strong>5.5.- Cambios en la Política de Cookies</strong>
				</p>

				<p>
					Es posible que actualicemos la Política de Cookies de nuestro Sitio Web, por ello le recomendamos revisar esta política cada vez que acceda a nuestro Sitio
					Web con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies.
				</p>




			</div>
		</div>
	</div>

	<div class="row">
		<div class="column text-center section-title">
			<img src="../img/oxytours_inverse.svg" alt=""><br>
			<a class="button" href="form.html">
				Choisissez votre expérience
			</a>
		</div>
	</div>	

</div>

