---
category: route
tag: roots
lang: fr
title: À la découverte du désert de la Costa Blanca
shortname: "Vallée du Montnegre"
Area: "Vallée du Montnegre"

Price: 75€
Length: 3,5 / 4h
Distance: 7km
Difficulty: Basse
Slope: 120m

Schedule:
- item: "08:30-09:30 Départ de votre logement * ."
- item: "10:00 départ excursion. Visite et explication du patrimoine. "
- item: "11:30 pause casse-croûte. "
- item: "14:00 déjeuner dans un restaurant sélectionné par Oxytours. "
- item: "18:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion ."
- item: "Guidage et prise en charge durant toute la journée."
- item: "Restauration: menu sélectionné dans un restaurant traditionnel."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

PriceVariation: "75 € par personne (TVA incluse) (pour les groupes de 4-7 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: r1001.jpg
- item: r1002.jpg
- item: r1003.jpg
- item: r1004.jpg
- item: r1005.jpg

Thumbnail: r10thumb.jpg

Map:
	lat: 38.485604
	long: -0.525108
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<p>
				À elle seule, la Costa Blanca réuni un ensemble de paysages des plus varié inconnu des vacanciers. Bien sûr l’image de cette partie de l’Espagne met en exergue ses plages et ses petites criques.  Oxytours vous propose dans chacune de ses randonnées, une aventure unique et surprenante dans ces paysages montagnards.
			</p>
			<p> 
				La vallée de Montnegre est une étrangeté en elle-même. Vous entrez dans le désert de la Costa Blanca. Une zone de grande aridité avec de rares précipitations. Malgré tout, ce paysage pauvre en végétation reste d’une grande beauté. L’incroyable gamme de couleurs et de formes présentes sur le terrain vous surprendra. 
			</p>
			<p>
				Tout ce que vous trouverez dans cette vallée est lié aux difficiles conditions météorologiques. Ce qui rend sa flore et sa faune uniques. 

			</p>
			<p>
				L’eau, élément vital pour notre vie est ici plus que rare. Les habitants de la région le savent bien. Vous apprendrez comment les autochtones l’utilisent, la protège et la respecte. 
			</p>
			<p>
				Malgré cette pénurie, l’homme cultive la terre. Vous serez étonné d’y voir des vergers produisant des fruits et légumes de grande qualité. Durant cette journée, vous aurez l’occasion de déguster tous ces excellents produits dans un des restaurants sélectionné par Oxytours.
			</p>
			<p>
				Ne croyez pas que le désert commence aux portes de l’Afrique du nord. il est aussi présent dans nos campagnes de la Costa Blanca. Oxytours vous invite à en faire la découverte. 
			</p>
		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}