---
category: route

featured: true

tag: roots
lang: fr
title: "Les derniers châteaux de Al-Azraq : la Forteresse de la Gallinera"
shortname: "La vallée de Gallinera"
Area: "La vallée de Gallinera"

Price: 75€
Length: 3.5 / 4h
Distance: 8km
Difficulty: Basse
Slope: 450m

Schedule:
- item: "08:30-09:30 Départ de votre logement * ."
- item: "10:00 départ excursion. Visite et explication du patrimoine. "
- item: "11:30 pause casse-croûte. "
- item: "14:00 déjeuner dans un restaurant sélectionné par Oxytours. "
- item: "18:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion ."
- item: "Guidage et prise en charge durant toute la journée."
- item: "Restauration: menu sélectionné dans un restaurant traditionnel."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile."

Notincluded:
- item: "Visite à la coopérative de cerises. (Visite facultative. Prix hors forfait)"

PriceVariation: "75 € par personne (TVA incluse) (pour les groupes de 4-7 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg

Thumbnail: r02thumb.jpg

Map:
	lat: 38.819224
	long: -0.221460
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Chacun des chemins des montagnes de la Costa Blanca vous fera remonter le temps. Ici les sources et fontaines content la vie d’Al-Azraq, celle d’une lointaine époque où les Arabes de l’Espagne creusaient dans la montagne de solides chemins servant à relier les villages entre eux. 

			</p>
			<p> 
				Une terre fière de ses origines qui a connu de très nombreuses batailles pour la défense de chacun de ses châteaux, pour chaque coin de sa vallée. Au XIIIème siècle, ce dernier vizir de Valencia, lutta sur cette terre contre le roi Chrétien Jaume I et la forteresse de Gallinera résista longtemps. 800 ans après elle dresse encore fièrement ses ruines que le visiteur peut admirer. 

			</p>
			<p> 
				Aujourd’hui tout est plus calme et la vallée de Gallinera est toujours aussi fertile. Riche de son exceptionnel patrimoine culturel et écologique, cette vallée témoigne aussi de son époque néolithique grâce à quelques exemplaires de peintures rupestres déclarées au patrimoine de l’humanité par l’UNESCO en 1988. 

			</p>
			<p>
				Depuis longtemps, les hommes y pratiquent la culture des cerisiers, une des bases économiques de la région. Au printemps, la vallée offre un magnifique paysage lorsque ses arbres déploient un immense manteau blanc, époque de leur floraison. 

			</p>
			<p>
				Le meilleur moyen pour se souvenir des magnifiques paysages traversés, sera de vous attabler à une des meilleures tables de la vallée qu’a été sélectionné pour nous. L’occasion pour vous de déguster l’excellente gastronomie locale propre à chacun des villages de la vallée. 
				
			</p>
			<p>
				Vous terminerez cette excursion avec la visite d’une coopérative de cerises. Durant la dégustation, les hommes passionnés par ce métier vous feront comprendre l’enjeu économique et social de cette culture. (Visite facultative. Prix hors forfait). 
			</p>
			<!-- EO Description -->

		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>

</div>	

{{>map this}}