---
category: route
tag: roots
lang: fr
title: "L’antre du Diable"
shortname: " Le canyon de l’Enfer"
Area: "Vall d’Ebo"

Price: 100€
Length: 4h
Distance: 10km
Difficulty: Moyenne
Slope: 400m

Schedule:
- item: "08:30-09:30 Départ de votre logement * ."
- item: "10:00 départ excursion. Visite et explication du patrimoine. "
- item: "11:30 pause casse-croûte. "
- item: "14:00 déjeuner dans un restaurant sélectionné par Oxytours. "
- item: "18:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion ."
- item: "Guidage et prise en charge durant toute la journée."
- item: "Restauration: menu sélectionné dans un restaurant traditionnel."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

PriceVariation: "100 € par personne (TVA incluse) (pour les groupes de 4-8 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: r0901.jpg
- item: r0902.jpg
- item: r0903.jpg
- item: r0904.jpg
- item: r0905.jpg
- item: r0906.jpg

Thumbnail: r09thumb.jpg

Map:
	lat: 38.785713
	long: -0.122325
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<p>
				Le chaos. Voila comment les randonneurs qualifient el ce canyon. Un chaos de pierres, de calcaire blanc. L’endroit est mystique, étrange et rien n’y semble réel. Les habitants de la région affirment que cet endroit est l’œuvre du diable. Tout est sens dessus dessous. Imaginez des blocs de pierres disséminés de toutes parts, prêts à vous engouffrer. Bine sûr, rien de cela n’arrivera car cet endroit est figé depuis des siècles.
			</p>
			<p>
				Le canyon de l’Enfer est peut être un des endroits les plus insolites de la Costa Blanca. Des parois étroites permettent aux visiteurs de pénétrer ce lieu étrange. L’eau très présente depuis des millions d’années, a creusé des canyons étroits. Sa force incroyable a fait naitre des grottes, comme la cave Rull qui constitue aujourd’hui un merveilleux ensemble de stalactites et stalagmites.
			</p>
			<p>
				Le sentier vous guidera vers de splendides lieux de culture où vous découvrirez un époustouflant panorama de la Costa Blanca. Vous continuerez de descendre grâce à un chemin sinueux ouvert par les arabes du temps de leur conquête espagnole.
			</p>
			<p>
				Et bien sûr la cuisine de la région de la Costa Blanca est en phase avec son  peuple, lente, calme, riche en nuances et en détail. Vous profiterez de ce savoir-faire gastronomique dans le restaurant sélectionné par Oxytours.
			</p>
		</div>
		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}
