---
category: form
lang: fr
title: Merci Beaucoup
shortname: Nous vous contacterons le plus tôt possible

Photos:
- item: r0201.jpg
- item: r0202.jpg
- item: r0203.jpg
- item: r0204.jpg
- item: r0205.jpg
- item: r0206.jpg
---

<div class="content content--index">
	<div class="row">
		<div class="column form-info">
		<h3>Merci beaucoup pour votre confiance</h3>
			Nous vous contacterons par email le plus tôt possible pour confirmer les dates et les instructions de paiement.
		</div>
	</div>
</div>
