---
category: route

featured: true

tag: wings
lang: fr
title: "Entre dauphins et pirates: Les secrets de la falaise"
shortname: "Route maritime sur le Parc Naturel Serra Gelada"
Area: "Route maritime sur le Parc Naturel Serra Gelada"

Price: 65€
Length: "4h"
Distance: 45km
Difficulty: Basse
Slope: 0m

Schedule:
- item: "10:00 Départ route maritime du port d'Altea avec notre Tour leader, entre les baies de Altea et Benidorm avec les falaises de Toix et Serra Gelada. "
- item: "11:30 Pause casse-croûte à bord. "
- item: "14.00 Retour sur le port et fin de la journée."

Included:
- item: "Location de bateaux et service de conducteur d’embarcation"
- item: "Guidage et prise en charge durant toute la journée."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

Notincluded:
- item: "Aller retour compris entre votre lieu de résidence et le port d'Altea et le déjeuner dans le restaurant traditionnel sélectionné par Oxytours."

PriceVariation: "65 € par personne. (TVA incluse) (pour un groupe de 6 personnes). Prix spécial entre 15/06/2015 et 30/09/2015. Prix avec transferts inclus et  menu dans le restaurant traditionnel: 140 € par personne. (TVA incluse) (pour un groupe de 6 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: w0701.jpg
- item: w0702.jpg
- item: w0703.jpg
- item: w0704.jpg
- item: w0705.jpg
- item: w0706.jpg
- item: w0707.jpg
- item: w0708.jpg
- item: w0709.jpg

Thumbnail: w07thumb.jpg

Map:
	lat: 38.564705
	long: -0.057209
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Oxytours vous embarque pour une croisière à la découverte du parc naturel de la serra Gelada. Une visite exceptionnelle qui vous fera comprendre la spécificité de notre région. 

			</p>
			<p> 
				Vous embarquerez au pied des incroyables falaises  de la serra Gelada. Au passage, nos guides vous expliqueront la faune, la flore et les plus hautes dunes fossiles d’Europe. Au fil de votre excursion maritime, vous aurez peut être la chance d’observer de très près les Grands dauphins (Tursiops truncatus) qui sillonnent notre mer et connaître l’importance de Posidonia oceanica, une exceptionelle plante marine de la Mediterranée.
			</p>
			<p>
				Plus loin, vous pourrez contempler les lieux de pêches, témoignage de la vie difficile des populations du milieu du XXeme siècle. Les ruines des nombreuses tours autrefois altières servant à prévenir l’arrivée des pirates berbères durant le XVIème siècle.
			
			</p>
			<p>

				Vous aurez également l'occasion de rencontrer les oiseaux marins vivant dans les baies d'Altea et de Benidorm. Selon la période il sera différentes espèces, dont beaucoup sont protégés tel que  le Puffin des Baléares (Puffinus mauretanicus), le Puffin cendré  (Calonectris diomedea), l’Océanite tempête (Hydrobates pelagicus), le Goéland d’Audouin (Larus audouinii), le Cormoran huppé (Phalacrocorax aristotelis) ou le Fou de Bassan (Morus bassanus). 
				
			</p>
			<p>
				Et comme toujours, Oxytours vous fera découvrir la délicieuse cuisine locale dans un restaurant sélectionné pour sa qualité gastronomique.

			
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>	

{{>map this}}
