---
category: route

tag: wings
lang: fr
title: "Ville médiévale, paradis botanique"
shortname: "Parc Naturel Peñon d’Ifach"
Area: "Parc Naturel Peñon d’Ifach"

Price: 75€
Length: 3 h.
Distance: 3/6 km.
Difficulty: Basse/Moyenne
Slope: 130/250 m

Schedule:
- item: "08:30-09:30 Départ de votre logement * ."
- item: "10:00 départ excursion. Visite et explication du patrimoine. "
- item: "11:30 pause casse-croûte. "
- item: "14:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion."
- item: "Guidage et prise en charge durant toute la journée."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

Notincluded:
- item: "Restauration: menu sélectionné dans un restaurant traditionnel (Visite facultative. Prix hors forfait)"

PriceVariation: "75 € par personne. (TVA incluse) (pour les groupes de 4-8 spersonnes). Voir prix pour un nombre différent de participants."

Photos:
- item: w0401.jpg
- item: w0402.jpg
- item: w0403.jpg
- item: w0404.jpg
- item: w0405.jpg
- item: w0406.jpg

Thumbnail: w04thumb.jpg

Map:
	lat: 38.639541
	long: 0.073145
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Le Parc Naturel du Peñon d’Ifach est sans doute un des symboles de la Costa Blanca grâce à sa silhouette si particulière s’avançant dans la mer. S’il est le Parc est le plus visité de la région, il n’en reste pas moins un des plus méconnu. Oxytours vous fera mieux connaitre cet emblématique rocher en vous révélant ses secrets, son histoire.
			</p>
			<p>
				Un des principaux attraits du rocher est l’existence d’une ville médiévale dont les vertiges ont été découverts par des archéologues. Lors de votre excursion, Oxytours vous guidera vers l’entrée de cette ville. Vous franchirez les murailles, les tours défensives, apercevrez la nécropole et admirerez les restes de l’église portant le nom de Notre-Dame-Des-Anges.
			</p>
			<p>
				Le Peñon d’Ifach, se gravit facilement par un sentier balisé qui  mène à l‘entrée d’un tunnel situé à 180 mètres d’altitude. Il traverse le rocher et abouti au sommet où vous trouverez de multiples espèces végétales de grande valeur.
			</p>
			<p>
				Vous arriverez (en fonction du niveau du participant) jusqu'à le sommet qui culmine à 332 mètres au dessus du niveau de la mer. Tout là haut, le nord de la Costa Blanca sera à vos pieds et par temps clair, vous apercevrez l’île d’Ibiza. Du sommet du Peñon, vous comprendrez l’incroyable transformation de la côte à des fins touristiques. Une métamorphose datant du début des années 50.
			</p>
			<p>
				Le Peñon d’Ifach est un véritable héritage culturel et environnemental concentré sur 45 hectares, ce petit Parc Naturel offre de gigantesques possibilités pour ceux et celles qui veulent vivre une expérience riche en découvertes et émotions.

			</p>
			<p>
				Oxytours sélectionne des petits restaurants où vous découvrirez les saveurs traditionnelles de la Costa Blanca, un mélange de cultures gastronomiques léguées au fil du temps par des hommes qui sont entrés dans notre région et vous pouvez connaître facultativement sur cette tournée (Prix hors forfait).
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}
