---
category: route

featured: true

tag: wings
lang: fr
title: "Les zones humides de la Costa Blanca et ses beautés ailées"
shortname: "Parcs Naturels d’El Hondo, Santa Pola et La Mata."
Area: "Parcs Naturels d’El Hondo, Santa Pola et La Mata"

Price: 80€
Length: 9h
Distance: 90km
Difficulty: Basse
Slope: 0m


Schedule:
- item: "07:00-08:00 Départ de votre logement * ."
- item: "09:00 Départ de la route por l’observation des oiseaux à partir d’une voiture et à pied avec nôtres guides. "
- item: "11:30 pause casse-croûte. "
- item: "14.00 déjeuner dans un restaurant sélectionné par Oxytours."
- item: "18:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion."
- item: "Équipement optique prêt pour l’observation des oiseaux"
- item: "Guidage et prise en charge durant toute la journée."
- item: "Restauration: menu proposé par le restaurant selectionné."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

PriceVariation: "80 € par personne. Enfants de moins de 12 ans : 60 € (TVA incluse) (pour les groupes de 4-7 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: w0601.jpg
- item: w0602.jpg
- item: w0603.jpg
- item: w0604.jpg
- item: w0605.jpg
- item: w0606.jpg

Thumbnail: w06thumb.jpg

Map:
	lat: 38.166450
	long: -0.737402
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Peu d’endroits d’Espagne ont pour attrait l’observation d’oiseaux en zone humide comme la Costa Blanca. Depuis ces lieux, il est facile d’y contempler de nombreuses espèces singulières dont une grande partie est protégée et quelques-unes en voie d’extinction. 

			</p>
			<p> 
				Oxytours s’emploie chaque jour à faire connaitre l’exceptionnelle diversité biologique de ce territoire classé espace protégé et reconnu par des conventions internationales, tel que RAMSAR (traité international de 1971 qui vise à enrayer les disparitions ou dégradations des zones humides)

			</p>
			<p>

				Cette randonnée vous mènera vers les principales zones humides de notre région où vous pourrez observer une très grande variété d’oiseaux menacés d’extinction. Parmi celles-ci la Sarcelle marbrée (Marmaronetta angustirostris) ou bien encore l’Érismature à tête blanche (Oxyura leucocephala), dont Oxytours à choisi de faire son emblème.  
			
			</p>
			<p>

				Vous admirerez également les lents déplacements d’échassiers au fil de l’eau tels que les Flamants (Phoenicopterus roseus), l’Ibis falcinelle (Plegadis falcinellus), le Crabier chevelu (Ardeola ralloides) ou le Héron pourpré (Ardea purpurea). Enfin vous admirerez la spectaculaire bleu cobalt du Talève sultane (Porphyrio porphyrio).
				
			</p>
			<p>

				La proximité de la côte permet aux visiteurs d’observer d’intéressantes espèces d’oiseaux de mer nichant dans ces zones humides protégées. Vous découvrirez l’élégante Goéland d’Audouin (Larus audouinii), le Goéland railleur (Chroicocephalus genei) ou la Guifette moustac (Clhidonias hybrida).

</p>
			<p> 
				Cohabitant avec toutes ces espèces, une foultitude d’oiseaux est observable dans cette région. La Glaréole à collier (Glareola pratincola), la panure à moustaches (Panurus biarmicus), le Rémiz penduline (Remiz pendulinus), le Lusciniole à moustaches (Acrocephalus melanopogon), le Rollier d'Europe (Coracias garrulus)  ou le Guêpier d’Europe (Merops apiaster).

			</p>
			<p>

				La liste est trop longue pour vous citer ici toutes les espèces que vous pourrez observer sur la Costa Blanca, mais l'expertise de nos guides vous permettrons d’observer ces oiseaux. Pour cela, Oxytours met à votre disposition tout le matériel nécessaire à l’observation de ce monde animal. 
				
			</p>
			<p>

				Si l’envie vous prend de connaitre un univers insoupçonné, choisissez cet itinéraire proposé par les meilleurs guides de la région. Partez avec Oxytours.
			
			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>			
			</div>		

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>			
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>	

{{>map this}}