---
category: route

featured: true

tag: wings
lang: fr
title: "Une mer de céréales : le royaume de l’Outarde barbue"
shortname: "Intérieur de la Costa Blanca et La Mancha"
Area: "Intérieur de la Costa Blanca et La Mancha"

Price: 120€
Length: 9h
Distance: 250km
Difficulty: Basse
Slope: 100m

Schedule:
- item: "07:00-08:00 Départ de votre logement * ."
- item: "09:00 Départ de la route por l’observation des oiseaux à partir d’une voiture et à pied avec nôtres guides. "
- item: "11:30 pause casse-croûte. "
- item: "14.00 déjeuner dans un restaurant sélectionné par Oxytours."
- item: "18:00 Retour sur votre lieu de résidence et fin de la journée."
- item: "* L'heure à déterminer en fonction de l'emplacement de votre logement."

Included:
- item: "Aller retour compris entre votre lieu de résidence (*) et celui de l’excursion."
- item: "Équipement optique prêt pour l’observation des oiseaux"
- item: "Guidage et prise en charge durant toute la journée."
- item: "Restauration: menu proposé par le restaurant selectionné."
- item: "Inclut casse-croûte typique de la région."
- item: "Assurance et responsabilité civile. "

PriceVariation: "120 € par personne. (TVA incluse) (pour les groupes de 4-8 personnes). Voir prix pour un nombre différent de participants."

Photos:
- item: w0801.jpg
- item: w0802.jpg
- item: w0803.jpg
- item: w0804.jpg
- item: w0805.jpg

Thumbnail: w08thumb.jpg

Map:
	lat: 38.800871
	long: -1.430822
---

<div class="content">
	<div class="row">
		<div class="large-6 column">

			<!-- Description -->
			<p>
				Dans la Costa Blanca et la région de la Mancha, située au sud-est de l'Espagne se cache une autre mer. Le vent y forme des vagues, mais celles-ci sont de couleur vert clair se changeant en épis dorés. C’est une mer de verdure.

			</p>
			<p>
				Ici, la nature a toute sa place. Une mosaïque de champs de céréales où viennent vivre, se nicher une foultitude d’oiseaux. La reine des lieux est l’Outarde barbue (Otis tarda), une espèce protégée dont la parade nuptiale est un spectacle extraordinaire à lui seul.

			</p>
			<p>

				Dans ces zones céréalières, vous pourrez observer bon nombre d’oiseau rares comme Faucon crécerellette (Falco naumanii)  qui niche dans les vieilles maisons abandonnées. Dans ces contrées déclarées par l'Union Européenne (ZPS) « zones de protection spéciale pour les oiseaux » vivent tranquillement l’Outarde canepetière (Tetrax tetrax), le Ganga canta (Pterocles alchata), le Ganga unibande (Pterocles orientalis), l’Oedicnème criard (Burhinus oedicnemus) ou l’Alouette calandre (Melanocorypha calandre). Avec un peu de chance, vous verrez une des espèces les plus rares d’Europe ; l’Aigle impérial iberique (Aquila adalberti) qui utilise ces champs comme zone de chasse.

			</p>
			<p>

				Cette grande diversité biologique de lacs au degré de salinité élevé, de forêts de chênes, de pins, de champs de céréales située à seulement quelques kilomètres de la côte, permet de découvrir un grand nombre d'espèces.

			</p>
			<p>
				Oxytours fourni le matériel adéquat pour l’observation des oiseaux. Découvrez la Costa Blanca de l’intérieur, foulez le sol de la Mancha et  pénétrer le monde animal avec Oxytours.

			</p>
			<!-- EO Description -->

		</div>

		<div class="large-5 column">
			<div class="box">
				<h3>Programme</h3>
				<ul class="route-schedule">
					{{#each Schedule}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Prix</h4>
				<ul>
					<li>{{PriceVariation}}</li>
				</ul>
			</div>

			<div class="box">
				<h4 class="route-included-title">Le prix inclut</h4>
				<ul>
					{{#each Included}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>

			{{#if Notincluded}}
			<div class="box">
				<h4 class="route-included-title">Le prix no inclut</h4>
				<ul>
					{{#each Notincluded}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div class="box">
				{{> places}}
			</div>


		</div>
	</div>
</div>

{{>map this}}
