<div id="map_canvas"></div>	

<script>
	function initialize() {
		var map_canvas = document.getElementById('map_canvas');
		var map_options = {
			center: new google.maps.LatLng({{this.lat}}, {{this.long}}),
			zoom: 8,
			scrollwheel: false,
			navigationControl: false,
			mapTypeControl: true,
			scaleControl: false,
			draggable: false,
			mapTypeId: google.maps.MapTypeId.SATELLITE
		}
		var map = new google.maps.Map(map_canvas, map_options)

		var cOpts = {
			strokeColor: '#00CC99',
			strokeOpacity: 0.4,
			strokeWeight: 2,
			fillColor: '#00CC99',
			fillOpacity: 0.2,
			map: map,
			center: new google.maps.LatLng({{this.lat}}, {{this.long}}),
			radius: 15000
		}

		cityCircle = new google.maps.Circle(cOpts);		
		
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>	