.ox-cookies {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.62);
      padding: 20px;
      color: #fff;
      left: 0;
      z-index: 10;
      font-size: 0.8rem;
      font-family: sans-serif;

    &-button {
      background: #fff;
      color: #333;
      padding: 10px 20px;
      margin: 0 20px;
    }
}
