.featuredCard {
	text-align: center;
  padding: 1rem 2.5rem;

	img {
    margin: -4rem 0 1rem;
    transition: all 0.3s ease 0s;
    display: inline-block;
    height: 100px;
    width: 100px;
	}

	&:hover {


	}

}

@media #{$large-up} {

	.featuredCard {

		margin-top: -8rem;
	}
}
