.ribbon {

	position: absolute;
	right: 1.25rem;
	top: 1.25rem;	
	
	&-icon {
		border-radius: 100%;
		color: #FFF;
		width: 3rem;
		height: 3rem;
		line-height: 3rem !important;
		text-align: center;

		&--roots {
			background: none repeat scroll 0% 0% #71A347;
		}

		&--wings {
			background: none repeat scroll 0% 0% #66cccc;
		}		

		&--featured {
			width: 7rem;
			height: 7rem;
			line-height: 7rem !important;
		}
	}
}

/**/